<div class="conf-toggler flex">
  <button class="
    px-2 py-1 rounded-l-md
  bg-gray-600 hover:bg-gray-700 
  focus:bg-gray-700 focus:outline-none 
    focus:ring-2 focus:ring-blue-600 
    focus:ring-opacity-50 focus:z-10
  "
  data-conf-toggle="east"
  >East</button>
  <button class="
    px-2 py-1
  bg-gray-600 hover:bg-gray-700 
  focus:bg-gray-700 focus:outline-none 
    focus:ring-2 focus:ring-blue-600 
    focus:ring-opacity-50 focus:z-10
  "
  data-conf-toggle="all"
  >All</button>
  <button class="
    px-2 py-1 rounded-r-md
  bg-gray-600 hover:bg-gray-700 
  focus:bg-gray-700 focus:outline-none 
    focus:ring-2 focus:ring-blue-600 
    focus:ring-opacity-50 focus:z-10
  "
  data-conf-toggle="west"
  >West</button>
</div>